body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #1b1b1b;
    line-height: 1.5;
}

#mybutton {
    padding: 0.5rem 1.2rem;
    background-color: #a86ba0;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;

}

#mybutton:hover {
    background-color: #915c8a;
}